.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}

.layout__top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  background: #cdcdcd;
}

.layout__main {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
  overflow-y: auto;
}
