.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row__edit {
  background: #dbdbdb;
}

.column {
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
