.row {
  display: flex;
  flex: 1;
  background: red;
  flex-direction: row;
}

.row__left {
  padding: 10px;
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: yellow;
  overflow-y: hidden;
}

.row__middle {
  padding: 10px;
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: orange;
  overflow-y: hidden;
}

.row__right {
  padding: 10px;
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: yellow;
  overflow-y: hidden;
}
