.topbottom {
  display: grid;
  flex: 1;
}

.topbottom__top {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: yellow;
  overflow-y: auto;
}

.topbottom__bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: green;
  overflow-y: auto;
}
