.edit {
  flex: 0 0 350px;
  flex-direction: column;
  display: flex;
  border-left: 3px solid #3273dc;
  padding: 20px;
  background: white;
}

.edit h2 {
  justify-content: space-between;
  display: flex;
}

.edit__remove {
  margin-right: 10px;
}
