/* WRAPPING LAYOUT */
.example {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.example--is-dragging .dropzone {
  visibility: visible;
}

/* DROP ZONE STYLES */
.dropzone {
  display: flex;
  justify-content: center;
  border: 1px dashed #dbdbdb;
  visibility: hidden;
  padding: 5px;
}

.dropzone__active {
  border: 1px dashed #dbdbdb;
  background: yellow;
}

/* COMPONENT WRAPPER */
.component {
  display: flex;
  flex: 1;
}

.component--draggable:hover {
  cursor: move;
}
