/* WRAPPING LAYOUT */
.example {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.example--is-dragging .dropzone {
  visibility: visible;
}

/* Custom styles */
.example {
  display: flex;
  flex: 1;
}

.example__header {
  border-bottom: 1px solid red;
  height: 50px;
}

.example__body {
  flex: 1;
  display: flex;
}

.example__body__preview {
  flex: 1;
  display: flex;
  margin: 20px;
  border: 1px solid #dbdbdb;
}

.example__body__toolbox {
  flex: 0 0 350px;
  display: flex;
  border-left: 1px solid red;
}
